@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?-ywl8yg");
	src: url("../fonts/icomoon.eot?#iefix-ywl8yg") format("embedded-opentype"), url("../fonts/icomoon.ttf?-ywl8yg") format("truetype"), url("../fonts/icomoon.woff?-ywl8yg") format("woff"), url("../fonts/icomoon.svg?-ywl8yg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: "icomoon";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-youtube:before {
	content: "\e602";
}
.icon-chat:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-google-plus:before {
	content: "\e605";
}
.icon-linkedin:before {
	content: "\e606";
}
#nav > ul, #nav .drop-down ul, .side-block, .footer-nav, .social-networks, .logos-frame, .slideshow .pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.clearfix:after, .header-holder:after, .side-block:after, .mobile-learning:after, .testimonial:after, .success .quote .date-wrap:after {
	content: "";
	display: block;
	clear: both;
}
.nav-wrap {
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#nav, .side-block, .social-networks, .logos-frame, .request-wrap, .slideshow .pagination ul {
	font-size: 0;
	line-height: 0;
	letter-spacing: -4px;
}
.logos-frame {
	text-align: justify;
}
.logos-frame > * {
	display: inline-block;
	vertical-align: top;
	text-align: left;
}
.logos-frame:after {
	content: "";
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}
* {
	max-height: 100000px;
}
body {
	min-width: 320px;
	font-weight: 300;
}
img {
	vertical-align: top;
	max-width: 100%;
	height: auto;
}
a:focus {
	outline: none;
}
q {
	quotes: none;
}
q:before, q:after {
	content: "";
	content: none;
}
input[type="email"], input[type="tel"], input[type="search"], input[type="text"], input[type="password"], input[type="file"], input[type="submit"], textarea, select {
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow: none;
	outline: none;
}
input[type="radio"], input[type="checkbox"] {
	outline: none !important;
}
input[type="search"] {
	-webkit-appearance: none;
}
 input[type="search"]::-ms-clear {
 display: none;
}
 input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
 display: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 8px;
}
p {
	margin: 0 0 15px;
}
.phone_topper {
	text-align: center;
	background: #00C2D7;
	padding: 20px 0 8px 0;
	display: none;
}
.phone_topper p {
	color: white;
	font-size: 18px;
}
.phone_topper p a {
	color: white;
}
.phonetoggle-off {
	display: none !important;
}
#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.nav-active #wrapper {
	height: 100% !important;
}
.bg-stretch {
	position: absolute;
	overflow: hidden;
	z-index: -1;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}
.bg-stretch img {
	max-width: none;
	width: 100%;
}
.quote a {
	color: #3f4146;
	text-decoration: none;
}
.quote a:hover {
	text-decoration: underline;
}
#header {
	padding: 28px 15px 27px 21px;
	position: absolute;
	z-index: 999;
	right: 0;
	left: 0;
	top: 0;
}
.logo {
	float: left;
	width: 183px;
}
.logo img {
	width: 100%;
	height: auto;
}
.fadeInBlock {
	opacity: 0;
}
.header-holder {
	max-width: 1380px;
	margin: 0 auto;
}
.nav-active .nav-wrap {
	visibility: visible;
	opacity: 1;
	height: auto;
}
.nav-wrap {
	background: #03bed3;
	padding: 35px 26px;
	position: fixed;
	z-index: 99;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	height: 0;
}
.nav-wrap .nav-opener {
	z-index: 999;
	margin: -4px -11px 0 0;
}
#nav {
	padding-right: 15px;
	font-size: 15px;
	line-height: 1.2;
	letter-spacing: 1px;
	margin-bottom: 13px;
}
#nav > ul > li {
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 13px;
}
#nav > ul > li.active > a {
	color: #99d41c;
	font-weight: bold;
}

#nav a {
	color: #fff;
}
#nav a:hover {
	color: #fff;
	text-decoration: none;
}
#nav .drop-down ul {
	padding-top: 4px;
}
#nav .drop-down li {
	font-size: 15px;
	line-height: 1.2;
	text-transform: none;
	margin-bottom: 9px;
	font-weight: 500;
}
#nav .drop-down a {
	color: #3f4146;
}
#nav .drop-down a:hover {
	color: #99d41c;
}
/*SOLUTIONS NAV*/
ul.solutions-nav {
	border-bottom: 1px solid #D0D0D0;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 80px;
}
ul.solutions-nav li {
	display: inline-block;
	margin: 0 15px;
}
ul.solutions-nav li a {
	color: #CFCECE;
	font-size: 15px;
}
ul.solutions-nav li a:hover {
	color: #303236;
	text-decoration: none;
}
ul.solutions-nav li.active a {
	color: #303236;
}

/*RESOURCES NAV*/
ul.resources-nav {
	border-bottom: 1px solid #D0D0D0;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 0px;
	margin-top:20px;
}
ul.resources-nav li {
	display: inline-block;
	margin: 0 15px;
}
ul.resources-nav li a {
	color: #CFCECE;
	font-size: 15px;
}
ul.resources-nav li a:hover {
	color: #303236;
	text-decoration: none;
}
ul.resources-nav li.active a {
	color: #303236;
}
ul.resources-nav li.inputfield {
	width:200px;
	position:relative;
	}
ul.resources-nav li.inputfield .input-group-btn {
	display:none;
	}
ul.resources-nav li.inputfield input {
	position:absolute;
	width: 200px;
    top: -23px;
	background:url('../images/search_icon.jpg') no-repeat 5px 8px;
	padding-left: 30px;
	}	

.sub .banner {
	margin-bottom: 20px;
	padding-top:229px;
}
.side-block {
	margin-left: -4px;
}
.side-block li {
	margin-bottom: 9px;
}
.side-block li + li a {
	padding: 11px 10px 10px;
}
.side-block a, .side-block .btn {
	font-size: 16px;
	padding: 12px 10px 12px;
	font-weight: 500;
	display: block;
	line-height: 1.2;
	border-radius: 5px;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	letter-spacing: 0;
}
.side-block a:hover, .side-block .btn:hover {
	color: #3f4146;
	background: #fff;
	border-color: #fff;
	text-decoration: none;
}
.side-block a:hover .icon-phone, .side-block .btn:hover .icon-phone {
	color: #99d41c;
}
.side-block a {
	padding: 10px 10px 9px;
	font-weight: 600;
	letter-spacing: 1px;
}
.side-block .icon-phone {
	color: #fff;
	font-size: 25px;
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	margin-top: -3px;
	-webkit-transform: rotate(266deg);
	-ms-transform: rotate(266deg);
	transform: rotate(266deg);
}
.nav-active {
	opacity: 1;
	height: auto;
	width: 100%;
	overflow: hidden;
	visibility: visible;
}
.nav-active .nav-opener:after, .nav-active .nav-opener:before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 0;
	right: 0;
}
.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.nav-active .nav-opener span {
	opacity: 0;
}
.nav-opener {
	float: right;
	width: 25px;
	height: 30px;
	position: relative;
	z-index: 99;
	margin-top: 4px;
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
}
.nav-opener:hover {
	opacity: .8;
}
.nav-opener:before, .nav-opener:after, .nav-opener span {
	background: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 3px;
	margin-top: -1px;
	-webkit-transition: background .3s, -webkit-transform .3s;
	transition: background .3s, transform .3s;
}
.nav-opener:before, .nav-opener:after {
	content: "";
	top: 30%;
}
.nav-opener:after {
	top: 70%;
}
#footer {
	background: #212224;
	padding: 36px 22px 38px;
	font-size: 18px;
	line-height: 1.4;
}
#footer h3 {
	font-size: 18px;
	line-height: 1.3;
	color: #fff;
	margin-bottom: 6px;
}
#footer a:hover {
	color: #9b9da4;
}
.footer-nav {
	margin-bottom: 43px;
}
.footer-nav li {
	margin-bottom: 7px;
}
.footer-nav a {
	color: #676a72;
}
.footer-nav a:hover {
	color: #9b9da4;
	text-decoration: none;
}
.social-networks {
	text-align: center;
	padding-top: 4px;
	margin: 0 -10px 10px;
}
.social-networks li {
	display: inline-block;
	vertical-align: top;
	font-size: 39px;
	line-height: 1;
	letter-spacing: 0;
	margin: 0 0 10px;
}
.social-networks li + li {
	margin-left: 15px;
}
.social-networks a {
	display: block;
	color: #676a72;
	display: table;
}
.social-networks a:hover {
	text-decoration: none;
	color: #03bed3;
}
.social-networks a:hover .icon-twitter {
	background: #9b9da4;
	color: #212224;
}
.social-networks .icon-twitter {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background: #676a72;
	font-size: 28px;
	display: block;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	color: #212224;
}
.copyright {
	font-size: 16px;
	line-height: 1.2;
	color: #676a72;
	text-align: center;
	margin-bottom: 19px;
}
.copyright a {
	color: #676a72;
}
.copyright a:hover {
	color: #03bed3;
	text-decoration: none;
}
.back-link {
	text-align: center;
}
.back-to-top {
	font-size: 16px;
	line-height: 1.2;
	color: #fff;
	display: inline-block;
	vertical-align: top;
}
.back-to-top:hover {
	color: #03bed3;
	text-decoration: none;
}
#main {
	text-align: center;
}
.banner {
	color: #fff;
	padding: 107px 12px 50px;
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 27px;
}
.backupimg {
	background: url('../images/snapshots/hero.png') no-repeat 50% 50% /cover;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.banner h1 {
	font-size: 30px;
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 12px;
}
.banner p {
	margin-bottom: 27px;
}
.h3 {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 600;
	display: block;
	margin: 0 0 4px;
}
.btn {
	padding: 14px 12px 11px;
	white-space: normal;
	min-width: 260px;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 1px;
}
.logos-frame {
	padding: 15px 0 6px;
	position: relative;
	display: none;
	z-index: 9;
	font-size: 1px;
}
.logos-frame:before {
	top: 0;
	bottom: 0;
	content: "";
	left: -9999px;
	right: -9999px;
	z-index: -1;
	position: absolute;
	background: rgba(0, 0, 0, .5);
}
.logos-frame li {
	margin-bottom: 10px;
	vertical-align: middle;
}
.logos-frame li + li {
	margin-left: 10px;
}
.logos-frame a:hover {
	opacity: .8;
}
.management-system {
	padding: 0 20px;
	font-weight: 400;
}
.management-system h1 {
	font-size: 25px;
	line-height: 33px;
	font-weight: 400;
	color: #000;
}
.management-system h2 {
	font-size: 25px;
	line-height: 1.2;
	color: #000;
}
.management-system .title-wrap {
	color: #3f4146;
	margin-bottom: 66px;
}
.whiteblock .title-wrap {
	color: #3f4146;
	margin-bottom: 66px;
}

.management-system .management-wrap {
	background: #f9f9fb;
	position: relative;
	z-index: 9;
}
.management-system .management-wrap:before {
	top: 0;
	bottom: 0;
	content: "";
	left: -9999px;
	right: -9999px;
	position: absolute;
	background: #f9f9fb;
}
.management-system .img-wrap {
	z-index: 9;
	text-align: center;
	position: relative;
	margin: -38px -20px 33px 0;
}
.management-system .description > .content-frame {
	max-width: 295px;
}
/*GREY 2COLUMN*/
.grey_overlay {
	margin: -8px 0 37px;
	overflow-y: hidden;
	margin-bottom: 0;
}
.grey_overlay .column {
	min-height: 225px;
	position: relative;
	z-index: 9;
	overflow: hidden;
}
.grey_overlay .img-wrap:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	opacity: .60;
	position: absolute;
	background: #ededef;
}
.grey_overlay .description {
	color: #212224;
	padding: 22px 20px 18px;
}
.grey_overlay h2 {
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 11px;
}
.grey_overlay .h3 {
	margin-bottom: 10px;
}
.mobile-learning {
	margin: -8px 0 37px;
	overflow-y: hidden;
}
.mobile-learning .column {
	min-height: 225px;
	position: relative;
	z-index: 9;
	overflow: hidden;
}
.mobile-learning .img-wrap:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	opacity: .96;
	position: absolute;
	background: #03bed3;
}
.mobile-learning .description {
	color: #fff;
	padding: 22px 20px 18px;
}
.mobile-learning h2 {
	font-size: 25px;
	line-height: 1.2;
	margin-bottom: 11px;
}
.mobile-learning .h3 {
	margin-bottom: 10px;
}
.customized {
	margin-bottom: 24px;
	position: relative;
}
.customized h2 {
	font-size: 25px;
	line-height: 34px;
	color: #000;
	margin-bottom: 5px;
}
.customized h2 span {
	display: block;
}
.customized .h3 {
	margin-bottom: 5px;
}
.customized .img-wrap {
	margin: 0 0 17px;
	text-align: center;
}
.customized .description {
	padding: 0 6px;
}
.request-wrap {
	background: #f9f9fb;
	padding: 38px 0 58px;
}
.request-wrap.request-wrap-2 {
	background: #03bed3;
	padding: 57px 0 52px;
	margin-bottom: 55px;
}
.request-wrap.request-wrap-2 h2 {
	color: #fff;
}
.request-wrap.contact {
	padding: 28px 17px 42px;
	color: #fff;
}
.request-wrap.contact h2 {
	margin: 0 10px 19px;
}
.request-wrap h2 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	color: #5a6478;
	margin-bottom: 23px;
	letter-spacing: 0;
}
.course-wrap {
	font-size: 15px;
}
.course-wrap .course-title {
	z-index: 1;
	color: #fff;
	position: relative;
	padding-bottom: 200px;
}
.course-wrap .course-title:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: 1;
	opacity: .96;
	position: absolute;
	background: #03bed3;
}
.course-wrap .course-title .title-wrap {
	position: relative;
	padding: 51px 16px 0;
	line-height: 24px;
	z-index: 9;
}
.course-wrap .course-title .title-wrap p {
	margin: 0 10px 15px;
}
.course-wrap .img-wrap {
	margin-bottom: 21px;
}
.course-wrap .img-wrap.img-wrap-2 {
	margin: -180px 0 27px;
	position: relative;
	z-index: 9;
}
.course-wrap h1 {
	font-size: 25px;
	line-height: 1.3;
	margin-bottom: 10px;
}
.course-wrap h2 {
	font-size: 25px;
	line-height: 1.4;
	font-weight: 400;
	color: #2c2d30;
	margin-bottom: 7px;
}
.course-wrap .h3 {
	font-size: 15px;
	line-height: 24px;
	color: #676a72;
	margin-bottom: 9px;
}
.course-wrap .description {
	margin-bottom: 62px;
	padding: 0 12px;
	line-height: 24px;
}
.course-wrap .description.description-2 {
	margin-bottom: 50px;
}
.powering-training {
	color: #fff;
	padding: 14px 0 32px;
	font-size: 15px;
	background: #43464d;
	margin-bottom: 25px;
	position: relative;
}
.powering-training h1 {
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 7px;
}
.powering-training h1 span {
	display: block;
}
.powering-training .image-wrap {
	margin: 0 -12px -13px;
	text-align: center;
}
.powering-training .description {
	padding: 0 15px;
	line-height: 24px;
}
.workforce h1 {
	font-size: 25px;
	line-height: 35px;
	font-weight: 400;
	margin-bottom: 15px;
	color: #2c2d30;
}
.workforce h1 span {
	display: block;
}
.workforce .title-wrap {
	margin-bottom: 20px;
	color: #3f4146;
}

.icon_bullet_block .title-wrap {
	margin-bottom: 20px;
	color: #3f4146;
}
.whiteblock .title-wrap {
	margin-bottom: 20px;
	color: #3f4146;
}
.partners {
	margin-bottom: 34px;
}
.partners .logo-wrap {
	width: 270px;
	overflow: hidden;
	border-radius: 5px;
	margin-bottom: 15px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #d8d8d8;
}
.partners img {
	width: 100%;
	height: auto;
}
.partners a:hover {
	opacity: .8;
}
.intro {
	background: #f9f9fb;
	padding: 30px 0 55px;
}
.slideshow {
	position: relative;
}
.slideshow .slideset {
	width: 100%;
	position: relative;
	margin-bottom: 18px;
}
.slideshow .slide {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}
.slideshow .slide.active {
	z-index: 2;
}
.slideshow .pagination {
	margin: 0 0 30px;
	display: block;
}
.slideshow .pagination li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0;
	margin: 0 4px 5px 5px;
}
.slideshow .pagination li.active a {
	background: #03bed3;
}
.slideshow .pagination a {
	overflow: hidden;
	text-indent: 101%;
	white-space: nowrap;
	display: block;
	width: 17px;
	height: 17px;
	background: #d8d8d8;
	border-radius: 50%;
}
.slideshow .pagination a:hover {
	background: #03bed3;
}
.slideshow .img-wrap {
	margin: 0 auto 11px;
	border-radius: 50%;
	overflow: hidden;
	height: 134px;
	width: 134px;
}
.slideshow .button {
	text-align: center;
}
.testimonial {
	margin: 0 0 3px;
	padding: 0 17px;
	border: none;
	font-size: 18px;
	line-height: 30px;
	color: #676a72;
}
.testimonial q {
	display: block;
	margin-bottom: 4px;
}
.testimonial .name {
	color: #7b7b7c;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
}
.testimonial .name a {
	color: #7b7b7c;
}
.testimonial .name a:hover {
	color: #03bed3;
	text-decoration: none;
}
.success {
	font-size: 18px;
	line-height: 25px;
	color: #3f4146;
	margin-bottom: 62px;
}
.success h1 {
	font-size: 25px;
	line-height: 1.4;
	font-weight: 400;
	color: #000;
}
.success .title-wrap {
	margin-bottom: 42px;
	padding: 0 10px;
}
.success .article-wrap {
	margin-bottom: 30px;
	padding: 0 13px;
}
.success .img-wrap {
	border-radius: 4px 4px 0 0;
	overflow: hidden;
}
.success .img-wrap img {
	width: 100%;
	height: auto;
}
.success .quote {
	margin: 0;
	text-align: left;
	padding: 26px 24px 16px;
	border: 1px solid #e0e0e0;
	border-width: 0 1px 1px 1px;
	border-radius: 0 0 4px 4px;
}
.success .quote q {
	display: block;
	font-weight: 500;
	margin-bottom: 18px;
}
.success .quote .name {
	font: 14px/1.2 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	display: block;
	padding-bottom: 51px;
	font-style: italic;
}
.success .quote .name a {
	color: #adadad;
}
.success .quote .name a:hover {
	text-decoration: none;
	color: #03bed3;
}
.success .quote .date {
	float: left;
	max-width: 60%;
}
.success .quote .chat {
	float: right;
	display: block;
	max-width: 38%;
	margin-right: -5px;
}
.success .quote .icon-chat {
	font-size: 13px;
	margin-right: 2px;
	color: #adadad;
}
.success .quote .date-wrap {
	font: 14px/1.2 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #5c5c5c;
	margin-left: 3px;
}
.success .btn {
	min-width: 274px;
}
.modal.in {
	white-space: nowrap;
	text-align: center;
	height: 100%;
}
.modal.in:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}
.modal.in > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0) !important;
	-ms-transform: translate(0, 0) !important;
	transform: translate(0, 0) !important;
}
.modal {
	padding: 10px;
}
.modal .modal-dialog {
	max-width: 468px;
	margin: 0 auto;
	min-width: 300px;
	width: 100%;
}
.modal .modal-content {
	padding: 25px 25px 30px;
	border-top: 24px solid #02bed3;
	border-radius: 5px 5px 4px 4px;
	position: relative;
	font-size: 16px;
	line-height: 1.2;
}
.modal h2 {
	font: 300 25px/1.2 "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #2c2d30;
}
.modal .close {
	position: absolute;
	width: 24px;
	height: 24px;
	right: -18px;
	top: -18px;
	padding: 0;
	background: #d1d1d1;
	border-radius: 50%;
}
.modal .close:hover {
	background: #9e9e9e;
}
.modal .close span {
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 32px;
	line-height: 19px;
	display: inline-block;
	vertical-align: top;
}
.modal input[type=text], .modal input[type=tel], .modal input[type=email], .modal input[type=password] {
	font: 300 18px/22px "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #8f9092;
	background: #fff;
	width: 100%;
	margin: 0;
	display: block;
	height: 47px;
	padding: 10px 14px 12px;
	border-radius: 5px;
	border: 1px solid #dfdcdc;
}
 .modal input[type=text]::-moz-placeholder, .modal input[type=tel]::-moz-placeholder, .modal input[type=email]::-moz-placeholder, .modal input[type=password]::-moz-placeholder {
 color: #8f9092;
 opacity: 1;
}
 .modal input[type=text]:-ms-input-placeholder, .modal input[type=tel]:-ms-input-placeholder, .modal input[type=email]:-ms-input-placeholder, .modal input[type=password]:-ms-input-placeholder {
 color: #8f9092;
}
 .modal input[type=text]::-webkit-input-placeholder, .modal input[type=tel]::-webkit-input-placeholder, .modal input[type=email]::-webkit-input-placeholder, .modal input[type=password]::-webkit-input-placeholder {
 color: #8f9092;
}
.modal .input-wrap {
	margin-bottom: 21px;
}
.modal p {
	margin-bottom: 31px;
}
.modal input[type=submit] {
	margin: 0;
	border: none;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	border-radius: 4px;
	font-size: 12px;
	min-width: 163px;
	padding: 15px 11px;
	text-transform: uppercase;
}
.modal .btn-wrap {
	padding-top: 19px;
}
a.blog_img:hover {
	curser: pointer !important;
}
a {
	cursor: pointer !important;
}
.img-right {
	padding-bottom: 50px;
}
.vidbg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.video_container {
	position: absolute;
	width: 100%;
	height: 795px;
	z-index: 1;
	top: -110px;
	text-align: center;
}
.video_banner_height {
	height: 760px;
}
.filter {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.banner_video {
	position: absolute;
	z-index: 100;
	width: 100%;
}
.full_blue_img_bg {
	background: url('../images/blueimg_bg.jpg') no-repeat 50% 50% /cover;
	padding-top: 90px;
	padding-bottom: 90px;
}
.full_blue_img_bg .description > .content-frame {
	max-width: 375px;
	color: white;
}
.img-overlap {
	position: absolute;
	top: 80px;
	width: 100%;
	left: 47%;
}
.graph_bg {
	background: #F8F9FB url('../images/grph_bg.jpg') repeat-x bottom center;
	padding-top: 160px;
	padding-bottom: 50px;
	margin-bottom: 50px;
	
}
.ipad_overlap {
	position: absolute;
	width: 100%;
	top: 40px;
}
.hipster_bg {
	background: url('../images/blueimg_bg.jpg') no-repeat 50% 50% /cover;
	padding-top: 100px;
	padding-bottom: 50px;
}
.hipster_description {
	padding-top: 100px !important;
}

.icon_bullet_block {
	padding:70px 0;
	background-color:#F9F9FB;
	}
.icon_bullet_block .title-wrap {
	font-size: 20px;
	line-height: 30px;
	max-width: 785px;
	margin-bottom: 30px;
}	
.whiteblock .title-wrap {
	font-size: 20px;
	line-height: 30px;
	max-width: 785px;
	margin-bottom: 30px;
}	

.icon_bullet_block .col-md-6 {
	padding:0 50px;
	min-height:230px;
	}
.icon_bullet_block .col-md-6 .icon {
	float:left;
	width:80px;
	}
.icon_bullet_block .col-md-6 .icon img {
	width:100%;
	}	
.icon_bullet_block .col-md-6 .icon_description {
	margin-left:95px;
	}	
.icon_bullet_block .col-md-6 h3 {
	color:#212224;
	font-size:25px;
	}	
.icon_bullet_block .col-md-6 p {
	color:#212224;
	font-size:16px;
	ling-height:30px;
	}
.whiteblock {
	padding:70px 15px 100px 15px;
	}	
.whiteblock .col-md-3 {
	text-align:center;
	}	
.static_testimonial_block {
	background: url('../images/testimonial_bg.png') no-repeat 50% 50% /cover;
	padding-top: 150px;
	padding-bottom: 150px;
	}
.static_testimonial {
	background:white;
	padding:30px;
	text-align:center;
	width:80%;
	margin:0 auto;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
padding-bottom:70px;
	}			
.static_testimonial_avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	overflow:hidden;
	border:5px solid white;
	margin: 0 auto;
    margin-top: -90px;
	margin-bottom:20px;
	}	
.static_testimonial_avatar img {

}
.static_testimonial cite.name {
	color:#686869;
	font-weight:600;
	font-style:normal;
	font-size:17px;
	}	
.testimonial_name {
	margin-top:15px;
	}
.hero_bg_img {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-2;
	}		
.overlay {
	background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
	left:0;
    width: 100%;
    height: 100%;	
	z-index:-1;
	}
.sub .banner.industries {
	margin-bottom:0px;
	}	
.sub .banner.industries .description {
	margin-bottom:0px;
	}
.success .industrybox .article-wrap {
    margin-bottom: 34px;
}	
.industrybox p {
	font-size:16px;
	}	
.industrybox h3 {
	font-size:21px;
	}	
.industry_contactbox {
	background:#20BED1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top:18px;
	}
.success .industry_contactbox .quote {
	background:none;
	}	
.industry_contactbox h3  {
	color:white;
	font-size:25px;
	line-height: 32px;
	}	
.industry_contactbox p {
	color:white;
	}			
.industry_contactbox a {
	color:white;
	}			
.industry_contactbox a:hover {
	text-decoration:none;
	}	

.support_img {
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
overflow:hidden;
max-height:370px;
margin:30px;
	}
.management-system .img-wrap.customer_img  > *{
    vertical-align: top;
    margin-top: 20px;
	}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width:90%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}	
.grey_background {
	background:#F9F9FA;
	padding:80px 0;
	}
.customer_description_right {
	    padding: 0 90px;
		}	
.customer_description_right h2 {
	color:#2c2d30;
	}
.blackwhite_logos img {
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
	}	
.customer_logos_block {
	margin:60px 0 150px 0;
	}							
.blackwhite_logos .col-md-3 {
	    min-height: 151px;
		}
.blog_pagination {
	margin-bottom:50px;
	}		
.blog_pagination .btn-default {
	background-color:#CACACB;
	border-color:#CACACB;
	}
.blog_pagination .btn-default:hover {
	background-color:#A5A5A6;
	border-color:#A5A5A6;
	}	

/*END OF MAIN STYLES*/



@media (min-width: 480px) {
.powering-training .image-wrap {
	-webkit-transform: translatey(-50%);
	-ms-transform: translatey(-50%);
	transform: translatey(-50%);
	text-align: center;
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	left: 0;
}
.powering-training .map-wrap {
	min-height: 400px;
}
.powering-training .description {
	white-space: nowrap;
	text-align: center;
	min-height: 400px;
	position: relative;
	margin: 0 auto;
	z-index: 9;
}
.powering-training .description:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}
.powering-training .description > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}
.powering-training .description:after {
	height: 400px;
}
.modal .modal-content {
	padding: 32px 52px 56px 53px;
}
.modal .close {
	right: -35px;
	top: -16px;
}
}

@media (min-width: 768px) {
body {
	font-size: 16px;
	line-height: 26px;
}
#header {
	padding: 25px 15px 27px;
}
.logo {
	width: 130px;
}
.nav-wrap {
	visibility: visible;
	background: none;
	opacity: 1;
	height: auto;
	float: right;
	position: static;
	width: 80%;
	padding: 1px 0 0;
}
#nav {
	padding-right: 15px;
	padding-top: 5px;
	float: left;
	width: 75%;
}
#nav > ul {
	text-align: right;
}
#nav > ul > li {
	text-transform: none;
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	line-height: 1.3;
	font-weight: 500;
	letter-spacing: 0;
	margin: 0 0 15px 20px;
}
#nav > ul > li.hover > a,  #nav > ul > li:hover > a {
	color: #99d41c;
}
#nav > ul > li.hover .drop-down,  #nav > ul > li:hover .drop-down {
	visibility: visible;
	opacity: 1;
	height: auto;
}
#nav .drop-down {
	position: absolute;
	margin-top: -1px;
	width: 180px;
	top: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	height: 0;
	padding-top: 15px;
}
#nav .drop-down ul {
	background: #fff;
	padding: 15px 15px 3px 15px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#nav .drop-down ul:before {
	height: 0;
	width: 0;
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	position: absolute;
	content: "";
	top: -8px;
	left: 8px;
}
#nav .drop-down li {
	text-align: left;
	font-size: 14px;
	line-height: 1.5;
}
.side-block {
	float: right;
	width: 24%;
	margin-left: 0;
}
.side-block li {
	display: inline-block;
	vertical-align: middle;
}
.side-block li + li {
	margin-left: 17px;
}
.side-block li + li a {
	margin: -2px 0 0;
	padding: 0;
}
.side-block li + li a:hover {
	background: none;
}
.side-block a {
	border: none;
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
.side-block a.btn {
	font-size: 10px;
	display: inline-block;
	vertical-align: top;
	width: 81px;
	line-height: 1.2;
	min-width: 0;
	padding: 6px;
	letter-spacing: 0;
}
.side-block .icon-phone {
	margin-top: 0;
}
.side-block .text {
	display: none;
}
.nav-opener {
	display: none;
}
#footer {
	padding: 34px 0 93px;
}
#footer h3 {
	font-size: 16px;
	margin-bottom: 17px;
}
.footer-nav {
	font-size: 13px;
	line-height: 1.2;
	margin-bottom: 52px;
}
.social-networks {
	text-align: right;
	padding-top: 6px;
	margin: 0 5px 8px 0;
}
.social-networks li {
	font-size: 26px;
	line-height: 1.2;
}
.social-networks li + li {
	margin-left: 5px;
}
.social-networks .icon-twitter {
	font-size: 20px;
	height: 26px;
	width: 26px;
}
.copyright {
	text-align: left;
	font-size: 13px;
	line-height: 1.2;
}
#main {
	text-align: left;
}
.banner {
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 77px;
	padding: 164px 12px 0;
}
.banner h1 {
	font-size: 45px;
	margin-bottom: 19px;
}
.banner .description {
	min-height: 346px;
	margin-bottom: 15px;
}
.sub .banner .description {
	min-height:376px;
	}
.banner p {
	margin-bottom: 21px;
}
.banner p span {
	display: block;
}
.h3 {
	color: #676a72;
	font-size: 18px;
	line-height: 28px;
	margin-bottom: 8px;
}
.btn {
	padding: 15px 12px 13px;
	min-width: 162px;
	font-size: 12px;
}
.logos-frame {
	display: block;
}
.logos-frame li {
	width: 15%;
}
.management-system {
	padding: 0;
}
.management-system h1 {
	color: #3f4146;
	font-size: 32px;
	line-height: 42px;
	margin-bottom: 13px;
	font-weight: 500;
}
.management-system h2 {
	font-size: 30px;
	color: #2c2d30;
	margin-bottom: 12px;
}
.management-system .title-wrap {
	max-width: 640px;
	margin: 0 auto 104px;
	font-size: 18px;
	line-height: 28px;
}
.management-system .management-wrap {
	background: none;
}
.management-system .management-wrap:before {
	display: none;
}
.management-system .img-wrap {
	position: absolute;
	width: 47.7%;
	margin: 0;
	bottom: 10px;
	right: -5px;
	white-space: nowrap;
	text-align: center;
}
.management-system .img-wrap:after {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	width: 0;
	min-height: 100%;
}
.management-system .img-wrap > * {
	white-space: normal;
	display: inline-block;
	vertical-align: bottom;
	max-width: 99%;
}
.management-system .description {
	white-space: nowrap;
	text-align: center;
	margin-bottom: 11px;
	text-align: left;
	padding: 0 0 36px 23px;
}
.management-system .description:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}
.management-system .description > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}
/*GREY 2COLUMN OVERLAY*/
	
.grey_overlay {
	margin: 0 0 0px;
}
.grey_overlay .column {
	float: left;
	width: 47.9%;
	min-height: 480px;
}
.grey_overlay .column + .column {
	white-space: nowrap;
	text-align: center;
	width: 52.1%;
	text-align: left;
}
.grey_overlay .column + .column:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}
.grey_overlay .column + .column > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}
.grey_overlay .column + .column > * {
	max-width: 100%;
}
.grey_overlay .description {
	width: 580px;
	line-height: 33px;
	padding: 31px 15px 15px 15.7%;
}
.grey_overlay h2 {
	font-size: 30px;
	margin-bottom: 25px;
}
.grey_overlay .h3 {
	color: #fff;
	line-height: 26px;
}
/*END GREY 2COLUMN OVERLA*/



/*GRAPH 2COLUMN OVERLAY*/
	
.graph_bg {
	margin: 0 0 0px;
}
.graph_bg .column {
	float: left;
	width: 47.9%;
	min-height: 480px;
}
.graph_bg .column + .column {
	white-space: nowrap;
	text-align: center;
	width: 52.1%;
	text-align: left;
}
.graph_bg .column + .column:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}
.graph_bg .column + .column > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}
.graph_bg .column + .column > * {
	max-width: 100%;
}
.graph_bg .description {
	width: 100%;
	line-height: 33px;
	padding: 0px 15px 15px 15.7%;
	color: #212224;
}
.grey_overlay h2 {
	font-size: 30px;
	margin-bottom: 25px;
}
/*GRAPH 2COLUMN OVERLA*/


.mobile-learning {
	margin: 0 0 62px;
}
.mobile-learning .column {
	float: left;
	width: 47.9%;
	min-height: 480px;
}
.mobile-learning .column + .column {
	white-space: nowrap;
	text-align: center;
	width: 52.1%;
	text-align: left;
}
.mobile-learning .column + .column:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}
.mobile-learning .column + .column > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}
.mobile-learning .column + .column > * {
	max-width: 100%;
}
.mobile-learning .description {
	width: 438px;
	line-height: 30px;
	padding: 31px 15px 15px 19.7%;
}
.mobile-learning h2 {
	font-size: 30px;
	margin-bottom: 13px;
}
.mobile-learning .h3 {
	color: #fff;
	line-height: 26px;
}
.customized {
	margin-bottom: 0;
}
.customized h2 {
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 10px;
	color: #2c2d30;
}
.customized h2 span {
	display: inline;
}
.customized .h3 {
	margin-bottom: 4px;
}
.customized .img-wrap {
	margin-bottom: 0;
	position: absolute;
	right: -5px;
	bottom: 0;
	width: 52.5%;
	white-space: nowrap;
	text-align: center;
	text-align: right;
}
.customized .img-wrap:after {
	content: "";
	display: inline-block;
	vertical-align: bottom;
	width: 0;
	min-height: 100%;
}
.customized .img-wrap > * {
	white-space: normal;
	display: inline-block;
	vertical-align: bottom;
	max-width: 99%;
}
.customized .description {
	margin-left: -4px;
	white-space: nowrap;
	text-align: center;
	text-align: left;
	max-width: 310px;
	padding: 17px 0 0;
}
.customized .description:after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	min-height: 100%;
}
.customized .description > * {
	white-space: normal;
	display: inline-block;
	vertical-align: middle;
	max-width: 99%;
}
.request-wrap {
	padding: 47px 0 48px;
}
.request-wrap.request-wrap-2 {
	padding: 52px 0 43px;
	margin-bottom: 0;
}
.request-wrap.contact {
	padding: 48px 0;
}
.request-wrap.contact h2 {
	margin: 0;
}
.request-wrap.contact .heading {
	width: 76.3%;
	padding: 0 10px 0 0;
}
.request-wrap.contact .btn {
	max-width: 23.6%;
}
.request-wrap h2 {
	margin: 0;
	font-size: 18px;
	line-height: 30px;
}
.request-wrap .heading {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 60px;
	text-align: center;
	width: 71.7%;
	margin: 0;
	letter-spacing: 0;
}
.request-wrap .btn {
	letter-spacing: 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	min-width: 162px;
	max-width: 28%;
	letter-spacing: 1px;
}
.course-wrap {
	font-size: 16px;
}
.course-wrap .course-content {
	margin-top: -178px;
	position: relative;
	z-index: 99;
}
.course-wrap .course-title {
	padding-bottom: 241px;
}
.course-wrap .course-title .title-wrap {
	padding: 78px 0 0;
	font-size: 18px;
	line-height: 29px;
	max-width: 580px;
	margin: 0 auto;
}
.course-wrap .course-title .title-wrap p {
	margin: 0 0 15px;
}
.course-wrap .img-wrap {
	margin: 0 0 41px 10px;
}
.course-wrap .img-wrap.img-wrap-2 {
	margin: 0 0 41px;
	padding-left: 10px;
}
.course-wrap h1 {
	font-size: 30px;
	margin-bottom: 21px;
}
.course-wrap h2 {
	font-size: 30px;
	color: #2c2d30;
	font-weight: 500;
}
.course-wrap .h3 {
	font-size: 18px;
	line-height: 28px;
}
.course-wrap .description {
	max-width: 345px;
	line-height: 26px;
}
.powering-training {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 56px;
	padding: 0;
}
.powering-training h1 {
	font-size: 34px;
	line-height: 40px;
	margin-bottom: 13px;
}
.powering-training h1 span {
	display: inline;
}
.powering-training .map-wrap {
	min-height: 594px;
}
.powering-training .description {
	min-height: 594px;
	line-height: 26px;
	max-width: 620px;
}
.powering-training .description .content-frame {
	padding: 15px 0;
}
.powering-training .description:after {
	height: 594px;
}
.workforce h1 {
	color: #3f4146;
	font-size: 32px;
	line-height: 38px;
	font-weight: 500;
	margin-bottom: 9px;
}
.workforce h1 span {
	display: inline;
}
.workforce .title-wrap {
	font-size: 18px;
	line-height: 29px;
	max-width: 645px;
	margin: 0 auto 57px;
}
.icon_bullet_block .title-wrap {
	font-size: 18px;
	line-height: 29px;
	max-width: 645px;
	margin: 0 auto 57px;
}

.whiteblock .title-wrap {
	font-size: 18px;
	line-height: 29px;
	max-width: 645px;
	margin: 0 auto 57px;
}

.partners {
	margin-bottom: 29px;
}
.partners .logo-wrap {
	margin-bottom: 18px;
	width: auto;
}
.intro {
	background: none;
	padding-bottom: 95px;
}
.slideshow .slideset {
	margin-bottom: 58px;
}
.slideshow .pagination {
	margin-bottom: 72px;
}
.slideshow .pagination ul {
	text-align: center;
}
.slideshow .img-wrap {
	float: left;
	margin: 0 43px 0 0;
}
.slideshow .description {
	padding-top: 2px;
	overflow: hidden;
}
.slideshow .button .btn {
	min-width: 180px;
}
.testimonial {
	background: #f9f9fb;
	padding: 23px 20px 24px 37px;
}
.testimonial q {
	margin-bottom: 7px;
}
.testimonial .name {
	line-height: 1.2;
	font-size: 15px;
}
.success {
	background: #f9f9fa;
	margin-bottom: 0;
	padding: 90px 0 80px;
	line-height: 29px;
}
.success h1 {
	font-size: 32px;
	line-height: 38px;
	color: #3f4146;
	font-weight: 500;
	margin-bottom: 15px;
}
.success .title-wrap {
	padding: 0;
	max-width: 590px;
	font-weight: 400;
	margin: 0 auto 88px;
}
.success .article-wrap {
	padding: 0;
	margin-bottom: 84px;
}
.success .quote {
	line-height: 26px;
	padding: 25px 13px 20px;
	border: none;
	background: #fff;
	font-size: 16px;
	color: #5c5c5c;
}
.success .quote .name {
	padding-bottom: 49px;
	font-size: 13px;
}
.success .quote .name a {
	color: #5c5c5c;
}
.success .quote .date-wrap {
	font-size: 13px;
}
.success .button {
	text-align: center;
}
.success .btn {
	min-width: 185px;
}
.modal .modal-dialog {
	max-width: 550px;
	width: 550px;
}
.modal .modal-content {
	padding: 42px 67px 56px 71px;
	font-size: 18px;
	line-height: 1.2;
}
.modal h2 {
	font-size: 32px;
	margin-bottom: 13px;
}
.modal .close {
	right: -50px;
	top: -26px;
}
.modal input[type=text],  .modal input[type=tel],  .modal input[type=email],  .modal input[type=password] {
	height: 47px;
	height: 54px;
	padding: 17px 17px 15px;
}
.modal p {
	margin-bottom: 33px;
}
.modal input[type=submit] {
	min-width: 221px;
	font-size: 16px;
	padding: 20px 12px;
}
.modal .btn-wrap {
	padding-top: 10px;
}
}

@media (min-width: 1024px) {
#header {
	padding: 25px 13px 27px 43px;
}
.logo {
	width: 170px;
}
.nav-wrap {
	padding-top: 5px;
}
#nav {
	width: 80%;
	padding-right: 28px;
}
#nav > ul > li {
	margin: 0 0 15px 28px;
}
.side-block {
	width: 19.9%;
	text-align: left;
}
.nav-holder {
	padding-right: 2.9%;
}
.social-networks li + li {
	margin-left: 11px;
}
.logos-frame li {
	width: auto;
}
.request-wrap.contact .heading {
	padding-left: 28px;
}
.request-wrap h2 {
	font-size: 20px;
	line-height: 30px;
}
.course-wrap .img-wrap {
	margin: 0 0 41px 52px;
}
.course-wrap .description.description-2 {
	margin-left: 40px;
}
.success .quote {
	padding: 25px 25px 20px;
	font-size: 18px;
}
.modal .modal-content {
	border-top: 28px solid #02bed3;
}
}

@media (min-width: 1230px) {
body {
	font-size: 18px;
	line-height: 29px;
}
#header {
	padding: 25px 0 27px;
}
.logo {
	width: auto;
}
.header-holder {
	padding: 0 10px 0 21px;
}
.nav-wrap {
	padding-top: 1px;
}
#nav {
	width: 84.5%;
}
#nav > ul > li {
	font-size: 15px;
	font-weight: 400;
	margin-left: 38px;
}
.side-block {
	padding-left: 4px;
	width: 15.4%;
}
.side-block li + li {
	margin-left: 23px;
}
.side-block li + li a {
	margin: 2px 0 0 0;
}
.side-block a.btn {
	font-size: 15px;
	width: 102px;
}
.side-block .icon-phone {
	font-size: 30px;
	font-weight: 400;
}
#footer {
	padding: 61px 0;
}
#footer h3 {
	font-size: 18px;
	margin-bottom: 13px;
}
.nav-holder {
	padding-right: 19%;
}
.footer-nav {
	font-size: 15px;
	margin-bottom: 64px;
}
.social-networks {
	margin: -12px 2px 5px 0;
}
.social-networks li {
	font-size: 32px;
}
.social-networks li + li {
	margin-left: 13px;
}
.social-networks .icon-twitter {
	font-size: 26px;
	height: 32px;
	width: 32px;
}
.copyright {
	font-size: 15px;
}
.banner {
	font-size: 25px;
	line-height: 33px;
	margin-bottom: 83px;
	padding-top: 194px;
}
.banner h1 {
	font-size: 50px;
	margin-bottom: 10px;
}
.banner .description {
	min-height: 401px;
}
.banner p {
	margin-bottom: 34px;
}
.h3 {
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 10px;
}
.btn {
	font-size: 16px;
	min-width: 198px;
	padding: 17px 20px 16px;
}
.logos-frame {
	margin: 0 auto;
	max-width: 968px;
}
.management-system h1 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 14px;
}
.management-system h2 {
	font-size: 32px;
	margin-bottom: 5px;
}
.management-system .title-wrap {
	max-width: 740px;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 103px;
}
.management-system .management-wrap .container {
	position: relative;
}
.management-system .img-wrap {
	position: relative;
	float: right;
	width: 48.9%;
	margin: 0 2px 0 0;
}
.management-system .img-wrap .img {
	margin-bottom: -10px;
}
.management-system .description {
	padding: 10px 0 80px 74px;
	margin: 0;
}
.management-system .description > .content-frame {
	max-width: 375px;
}
.full_blue_img_bg {
	padding-bottom: 30px;
}
<!--FULL BLUE BG IMG--> 
.full_blue_img_bg h1 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 14px;
}
.full_blue_img_bg h2 {
	font-size: 32px;
	margin-bottom: 5px;
}
.full_blue_img_bg .title-wrap {
	max-width: 740px;
	font-size: 20px;
	line-height: 32px;
	margin-bottom: 103px;
}
.full_blue_img_bg .management-wrap .container {
	position: relative;
}
.full_blue_img_bg .img-wrap {
	position: relative;
	float: right;
	width: 48.9%;
	margin: 0 2px 0 0;
}
.full_blue_img_bg .img-wrap .img {
	margin-bottom: -10px;
}
.full_blue_img_bg .description {
	padding: 0px 0 25px 64px;
	margin: 0;
}
.full_blue_img_bg .description > .content-frame {
	max-width: 375px;
	color: white;
}
.mobile-learning {
	margin-bottom: 94px;
}
.mobile-learning .column {
	width: 50%;
}
.mobile-learning .column + .column {
	width: 50%;
}
.mobile-learning .description {
	padding: 15px 15px 15px 67px;
	line-height: 29px;
	width: 493px;
}
.mobile-learning h2 {
	font-size: 35px;
	line-height: 1.2;
	font-weight: 400;
	margin-bottom: 15px;
}
.mobile-learning .h3 {
	line-height: 29px;
	margin-bottom: 12px;
}
.customized h2 {
	font-size: 32px;
}
.customized .h3 {
	margin-bottom: 17px;
}
.customized .img-wrap {
	position: static;
	float: right;
	width: 50%;
	margin-right: -10px;
}
.customized .description {
	margin: 0;
	max-width: 515px;
	padding: 0 0 58px 75px;
}
.request-wrap {
	padding: 45px 0 43px;
}
.request-wrap.request-wrap-2 {
	padding: 45px 0 43px;
}
.request-wrap.request-wrap-2 .heading {
	width: 67.3%;
	padding: 0 10px 0 136px;
}
.request-wrap.request-wrap-2 .btn {
	min-width: 199px;
}
.request-wrap.contact {
	padding: 39px 0 49px;
}
.request-wrap.contact .heading {
	width: 69.5%;
	padding-left: 95px;
}
.request-wrap.contact .btn {
	padding: 16px 12px 15px;
}
.request-wrap.contact .btn {
	max-width: 30.5%;
}
.request-wrap h2 {
	font-size: 25px;
}
.request-wrap .heading {
	width: 67.7%;
	padding: 0 10px 0 76px;
}
.request-wrap .btn {
	min-width: 190px;
	max-width: 32%;
	font-size: 16px;
	padding: 16px 12px 15px;
}
.course-wrap {
	font-size: 18px;
	line-height: 29px;
}
.course-wrap .course-content {
	margin-top: -228px;
}
.course-wrap .course-title {
	padding-bottom: 265px;
}
.course-wrap .course-title .title-wrap {
	max-width: 770px;
	padding-top: 54px;
	font-size: 20px;
}
.course-wrap .content-frame {
	padding-left: 106px;
}
.course-wrap .content-frame .description {
	padding-left: 26px;
}
.course-wrap .img-wrap {
	margin-bottom: 21px;
	margin: 0 0 21px 39px;
}
.course-wrap .img-wrap.img-wrap-2 {
	margin-bottom: 21px;
}
.course-wrap h1 {
	font-weight: 600;
	font-size: 35px;
	margin-bottom: 15px;
}
.course-wrap h2 {
	font-size: 32px;
}
.course-wrap .h3 {
	font-size: 20px;
	line-height: 29px;
}
.course-wrap .description {
	max-width: 436px;
	line-height: 29px;
	margin-bottom: 58px;
}
.course-wrap .description.description-2 {
	margin-left: 35px;
}
.powering-training {
	font-size: 20px;
	line-height: 29px;
	margin-bottom: 65px;
}
.powering-training h1 {
	font-size: 35px;
	line-height: 45px;
	margin-bottom: 19px;
}
.powering-training .description {
	max-width: 826px;
	line-height: 29px;
}
.workforce h1 {
	font-size: 35px;
	line-height: 40px;
}
.workforce .title-wrap {
	font-size: 20px;
	line-height: 30px;
	max-width: 785px;
	margin-bottom: 70px;
}
.icon_bullet_block .title-wrap {
	font-size: 20px;
	line-height: 30px;
	max-width: 785px;
	margin-bottom: 70px;
}

.partners {
	margin-bottom: 68px;
}
.intro {
	padding: 0;
	margin-bottom: 71px;
}
.slideshow {
	max-width: 1028px;
	margin: 0 auto;
}
.slideshow .slideset {
	margin: 0 0 41px;
}
.slideshow .pagination {
	margin-bottom: 49px;
}
.slideshow .img-wrap {
	margin-right: 52px;
}
.slideshow .button .btn {
	min-width: 232px;
	padding: 19px 20px 17px;
}
.testimonial {
	font-size: 20px;
	line-height: 32px;
	padding: 27px 20px 29px 47px;
}
.testimonial q {
	margin-bottom: 10px;
}
.testimonial .name {
	font-weight: 600;
	font-size: 17px;
}
.success {
	font-size: 20px;
	line-height: 32px;
	padding: 78px 0 68px;
}
.success .container {
	width: 1034px;
}
.success h1 {
	font-size: 35px;
	line-height: 40px;
	margin-bottom: 4px;
}
.success .title-wrap {
	margin-bottom: 68px;
}
.success .article-wrap {
	margin-bottom: 54px;
}
.success .quote {
	font-size: 20px;
	line-height: 29px;
	padding: 24px 29px;
}
.success .quote q {
	margin-bottom: 25px;
}
.success .quote .name {
	font-size: 17px;
	line-height: 1.2;
	color: #5c5c5c;
	padding-bottom: 62px;
}
.success .quote .chat {
	margin-right: -2px;
	padding-top: 2px;
}
.success .quote .icon-chat {
	font-size: 15px;
}
.success .quote .date-wrap {
	font-size: 15px;
}
.success .btn {
	min-width: 195px;
}
}

@media (min-width: 1230px) and (max-width: 1429px) {
.side-block li + li {
	margin-left: 10px;
}
.side-block a.btn {
	width: 92px;
}
.social-networks li + li {
	margin-left: 9px;
}
}

@media (max-width: 1230px) {
.img-overlap {
	top: 45px;
}
.ipad_overlap {
	width: 130%;
	top: 30px;
	left: -21%;
}
.graph_bg .description {
	width: 110%;
}
.hipster_block .bg-stretch {
	left: auto;
}
.hipster_description {
	padding-top: 50px !important;
	padding-bottom: 50px !important;
}
.icon_bullet_block .col-md-6 {
    padding: 0 20px;
    min-height: 260px;
}
.whiteblock .col-md-3 {
	text-align:center;
	padding:0 20px;
	}
.customer_description_right {
    padding: 0 0px 0 40px;
}
.blackwhite_logos .col-md-3 img {
	   text-align:center;
	   width:90%;
		}		
}

@media (max-width: 1024px) {
.graph_bg {
	padding-top: 90px;
}
.icon_bullet_block .col-md-6 {
    padding: 20px;
    min-height: auto;
}

.whiteblock .col-md-3 {
	float:left;
	width:32%;
	}
.full_blue_img_bg {
	padding-bottom:30px;
	}	
.blackwhite_logos .col-md-3  {
	  float:left;
		}	
.blog_pagination .btn {
	margin-bottom:15px;
	}			

}

@media (max-width: 767px) {
.nav-wrap {
	overflow-y: auto;
	overflow-x: hidden;
}
.phone_topper {
	display: none !important;
}
.phonetoggle-off {
	display: block !important;
}
.phonetoggle-on {
	display: none;
}
.management-system .description > .content-frame {
	max-width: 100%;
}
.js-height {
	height: auto !important;
}
.description {
	padding-bottom: 60px;
}
.partners .col-sm-4 {
	float: left;
}
.partners .logo-wrap {
	width: 220px;
}
.video_container {
	height: 520px;
	overflow: hidden;
}
.video_banner_height {
	height: 470px;
	overflow: hidden;
}
.full_blue_img_bg .description > .content-frame {
	max-width: 100%;
}
.img-overlap {
	left: 0;
	top: -80px;
}
.full_blue_img_bg {
	padding-bottom: 230px;
}
.graph_bg .description {
	color: #212224;
}
.graph_bg {
	padding-bottom: 250px;
	background-position: bottom center;
	padding-top: 120px;
}
.ipad_overlap {
	width: 100%;
	top: 150px;
	left: 0;
}
.graph_bg .description {
	width: 90%;
}
.hipster_block {
	padding-top: 70px;
	padding-bottom: 230px
	}
.hipster_block .bg-stretch img {
	width:100%;
	height:auto;
	}	
.hipster_block .bg-stretch {
	top:270px;
	left:0;
	}	
.hipster_description {
	padding-top: 20px !important;
}	
.request-wrap.request-wrap-2.bottomblock {
	text-align:center;
	margin-bottom:0px;
	}	
.static_testimonial .description {
	padding-bottom:10px;
	}	
.static_testimonial .description q {
	font-size:17px;
	}	
.whiteblock .title-wrap p {
	font-size:14px;
	line-height: 1.714;
	}	
#nav > ul > li.active > a {
	color: white;
}
.industry_contactbox {
	background:none;
	}
.success .industry_contactbox .quote {
    background:#20BED1;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align:center;
}	
.sub .success .title-wrap {
	margin-top:50px;
	}	
.rounded_support_img .img-right	{
	padding-bottom:0px;
	}	
.icon_bullet_block .col-md-6 .icon_description {
	text-align:left;
	}
.videoWrapper {
	width:95%;
}	
.customer_description_right {
    padding: 0px 15px 0 15px;
}
.customers .description {
	padding-top:30px;
	}
.grey_background.customers .description {
	padding-bottom:0px;
	}	
.management-system .management-wrap.customers , .management-system .management-wrap.customers:before	{
	background:none;
	}	
.white_bg {
	padding-top:40px;
	}
.blackwhite_logos .col-md-3 {
    width: 50%;
	min-height:120px;
}
			
}

@media (max-width: 732px) {
.partners .logo-wrap {
	width: 80%;
}
.partners .col-sm-4 {
	float: none;
}

}

@media (max-width: 600px) {
.partners .logo-wrap {
	width: 80%;
}
.partners .col-sm-4 {
	float: none;
}
ul.solutions-nav {
	list-style: none;
	padding-left: 0px;
	padding-bottom: 10px;
	margin-bottom: 40px
}
ul.solutions-nav li {
	display: block;
	margin-bottom: 10px;
}
ul.resources-nav {
	list-style: none;
	padding-left: 0px;
	padding-bottom: 10px;
	margin-bottom: 40px
}
ul.resources-nav li {
	display: block;
	margin-bottom: 10px;
}
.graph_bg {
	padding-bottom: 250px;
	background-position: bottom center;
}
.ipad_overlap {
	width: 100%;
	top: 220px;
	left: 0;
}
.img-right {
	padding-bottom: 0px;
}
.hipster_description {
	padding-top: 0px !important;
}
.hipster_block {
    padding-top: 20px;
}
.hipster_block .bg-stretch {
    top: 230px;
}
.whiteblock .col-md-3 {
	float:none;
	width:100%;
	}
ul.resources-nav li.inputfield {
	margin:0 auto;
	width:240px;
	}	
ul.resources-nav li.inputfield input {
	position:relative;
	margin:0 auto;
	top:0;
	}	
ul.resources-nav li.inputfield .input-group-btn {
	display:block;
	}	
ul.resources-nav li.inputfield .input-group-btn .btn {
	display:inline-block;
	color:white;
    min-width: 40px;
	padding:9px 9px 10px;
	}		

}

@media (max-width: 479px) {
.mobile-learning .column {
	height: auto !important;
}
.customized .js-height {
	height: auto !important;
}
.img-right {
	padding-bottom: 0px;
}
.banner {
	padding: 127px 12px 50px;
}
.full_blue_img_bg {
	padding-bottom: 60px;
}
.ipad_overlap {
	top: 260px;
}
.graph_bg {
	padding-bottom: 150px;
}
.graph_bg .description {
	width: 100%;
}
.sub .management-system .img-wrap {
	margin: -48px 0px 0px 0;
}
.hipster_block .bg-stretch {
    top: 260px;
}
.hipster_description {
	padding-bottom:0px;
	}
.request-wrap.request-wrap-2 {
	text-align:center;
	}	
.static_testimonial_block {
    padding-top: 100px;
    padding-bottom: 50px;
}
.static_testimonial {
	padding-bottom:20px;
	}	
.sub .banner {
	    padding-top: 159px;
		}	
	.videoWrapper {
	width:100%;
}	
.blackwhite_logos .col-md-3 {
    float:none;
	width:90%;
	margin:0 auto;
}		
}

@media (max-width: 320px) {
.ipad_overlap {
	top: 320px;
}
.graph_bg {
	padding-bottom: 100px;
	padding-top: 90px;
}
.request-wrap.request-wrap-2 {
	text-align:center;
	}
.hipster_block .bg-stretch {
    top: 300px;
}	
}
